@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffff;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Times New Roman', Times, serif;

  /* 🪄 Add custom cursor */
  /* cursor: pointer !important; */

}
h1 {
  color: #6A00FF;
  font-family: "Pinyon Script", cursive;
  font-size:2rem;
}
h2 {
  color: #6A00FF;
}
p{
  color:#7C7C7C
}
