@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #4c4c4c;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Times New Roman', Times, serif;
}
h1 {
  color: #00f9ff;
  font-family: "Pinyon Script", cursive;
  font-size:2rem;
}
h2 {
  color: #00f9ff;
}
p{
  color:#00f9ff
}
